[submodule "gruvbox"]
	path = gruvbox
	url = ./vim/bundle/gruvbox/
[submodule "lightline.vim"]
	path = lightline.vim
	url = ./vim/bundle/lightline.vim/
[submodule "nerdtree"]
	path = nerdtree
	url = ./vim/bundle/nerdtree/
[submodule "tabular"]
	path = tabular
	url = ./vim/bundle/tabular/
[submodule "vim-commentary"]
	path = vim-commentary
	url = ./vim/bundle/vim-commentary/
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = ./vim/bundle/vim-fugitive/
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = ./vim/bundle/gruvbox/
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = ./vim/bundle/lightline.vim/
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = ./vim/bundle/nerdtree/
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = ./vim/bundle/tabular/
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = ./vim/bundle/vim-commentary/
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = ./vim/bundle/vim-fugitive/
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = ./vim/bundle/Vundle.vim/
